<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Book</title>
    <th:block th:insert="fragments/theme :: theme"/>
    <link rel="stylesheet" href="/css/bootstrapAdjust.css">
    <script src="/js/jquery.min.3.4.1.js" defer></script>
    <script src="/js/book/Book.js" defer></script>
</head>
<body>
    <header th:replace="fragments/header :: header"></header>

<!-- Create two hidden SVGs for checks and crosses (Bootstrap styled) that we will use
 to populate our table with later. -->
<svg id="bootstrapCheckIcon" style="display:none" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
</svg>

<svg  id="bootstrapCrossIcon" style="display:none" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
</svg>

<main>

    <!--    Hidden input that holds username that will be used to make a booking-->
    <input id="username" th:value="${user.getName()}" type="hidden">
    <main>
        <!--    Hidden input that holds username that will be used to make a booking-->
        <input id="username" th:value="${user.getName()}" type="hidden">

        <div class="container">

            <!-- Display a calendar. If a valid date (today or the future) is selected this
                date will be used to reload DOM with available/unavailable desks for that day-->

            <br>
            <form action="/booking/add/process_form" method="post">
                <!-- Add label for accessibility -->
                <label for="bookingDate">Date:</label>
                <input type="date" id="bookingDate" name="bookingDate">
            </form>

            <br>

            <!-- The other input used to reload DOM showing desks, the room for the desk -->

            <form id="form">
                <p>
                    <label for="room">Room: </label>
                    <select id="room" name="room" required>
                        <option th:each="room : ${rooms}" th:value="${room.id}" th:text="${room.name}"></option>
                    </select>
                </p>
            </form>

            <!-- Loading progress spinner. -->
            <div id="progressSpinner" class="d-flex justify-content-center visually-hidden">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

            <!-- Desks availability subtitle. -->
            <h5 id="desksAvailabilitySubtitle"></h5>

            <!-- Booking quota. -->
            <h6 id="quotaText"></h6>

            <!-- The table that will be populated with desks upon submission of the above button. -->
            <table class="table bootstrapAdjustTable">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Desk Name</th>
                        <th scope="col">Desk Type</th>
                        <th scope="col">Notes</th>
                        <th scope="col">Available</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

            <!-- Pagination functionality as seen the manage desks page. -->

            <ul class="pagination justify-content-end" style="align-items: center;">
                <li class="page-item" id="resultsText" style="margin-right: 8px;"></li>
                <li class="page-item">
                    <button class="page-link" id="tablePreviousBtn">Previous</button>
                </li>
                <li class="page-item">
                    <button class="page-link" id="tableNextBtn">Next</button>
                </li>
            </ul>

        </div>

    </main>

    <!-- To trigger the Bootstrap Modal below, just add the following attributes to a button:
    data-mdb-toggle="modal" data-mdb-target="#oneBookingPerDay"-->

    <!-- One booking a day modal -->
    <div class="modal top fade" id="oneBookingPerDay" tabindex="-1" aria-labelledby="oneBookingPerDayLabel"
         aria-hidden="true"
         data-mdb-backdrop="true" data-mdb-keyboard="true">
        <div class="modal-dialog  ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="oneBookingPerDayLabel">Woops!</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">You may only book one desk per day!</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-mdb-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- To trigger the Bootstrap Modal below, just add the following attributes to a button:
    data-mdb-toggle="modal" data-mdb-target="#bookedOut"-->

    <!-- Booked by another user modal -->
    <div class="modal top fade" id="bookedOut" tabindex="-1" aria-labelledby="bookedOutLabel" aria-hidden="true"
         data-mdb-backdrop="true" data-mdb-keyboard="true">
        <div class="modal-dialog  ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="bookedOutLabel">Woops!</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">Somebody else has booked that desk out!</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-mdb-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- No quota remaining modal -->
    <div class="modal top fade" id="noQuotaRemaining" tabindex="-1" aria-labelledby="noQuotaRemainingLabel"
         aria-hidden="true"
         data-mdb-backdrop="true" data-mdb-keyboard="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="noQuotaRemainingLabel">Out of quota</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">You have used all your quota for this room for this month.</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-mdb-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>