<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Book a Desk</title>
    <th:block th:insert="fragments/theme :: theme"/>
    <link rel="stylesheet" href="/css/bootstrapAdjust.css">
    <script src="/js/jquery.min.3.4.1.js" defer></script>
    <script src="/js/book/BookAdmin.js" defer></script>
</head>
<body>

<header th:replace="fragments/header :: header"></header>

<!-- Create two hidden SVGs for checks and crosses (Bootstrap styled) that we will use
 to populate our table with later. -->
<svg id="bootstrapCheckIcon" style="display:none" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
</svg>

<svg  id="bootstrapCrossIcon" style="display:none" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
</svg>

<main>

    <div class="container">

        <br>

        <form id="form">

            <p>
                <!-- Add label for accessibility -->
                <label for="bookingDate">Date:</label>
                <input type="date" id="bookingDate" name="bookingDate" onchange="pastDateWarn()">
            </p>

            <p>
                <!-- Add label for accessibility -->
                <label for="room">Room: </label>
                <select id="room" name="room" required>
                    <option th:each="room : ${rooms}" th:value="${room.id}" th:text="${room.name}"></option>
                </select>
            </p>

            <p>
                <!-- Add label for accessibility -->
                <label for="employee">Book for: </label>
                <select id="employee" name="employee" required>
                    <option th:each="employee : ${employees}" th:value="${employee.username}" th:text="${employee.username}"></option>
                </select>
            </p>
            <p>
                <input type="submit" class="btn btn-primary" value="View Desks">
            </p>
        </form>

        <table class="table bootstrapAdjustTable">
            <thead>
            <tr>
                <!-- id, name, type, notes, available, bookedBy, bookingId -->
                <th scope="col">ID</th>
                <th scope="col">Desk Name</th>
                <th scope="col">Desk Type</th>
                <th scope="col">Notes</th>
                <th scope="col">Available</th>
                <th scope="col">Booked By</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <ul class="pagination justify-content-end" style="align-items: center;">
            <li class="page-item" id="resultsText" style="margin-right: 8px;"></li>
            <li class="page-item">
                <button class="page-link" id="tablePreviousBtn">Previous</button>
            </li>
            <li class="page-item">
                <button class="page-link" id="tableNextBtn">Next</button>
            </li>
        </ul>

    </div>
</main>


</body>
</html>