<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Admin - Manage Rooms</title>
    <th:block th:insert="fragments/theme :: theme"/>
    <script type="text/javascript" src="/js/admin/Rooms.js" defer></script>
</head>

<body>
    <header th:replace="fragments/header :: header"></header>
    <main>
        <!--    code adapted from HO. File :Bookings.html
        Updated the adapted code to match the list of rooms to be displayed.
        added anchor tag to redirect to edit the room
        added results div to display according to the flow-->
        <div class="container mt-auto">
            <h1>Rooms</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Room ID</th>
                        <th scope="col">Room Name</th>
                        <th scope="colgroup" colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="room: ${rooms}" th:data-id="${room.id}">
                        <td th:text="${room.id}"></td>
                        <td th:text="${room.name}"></td>
                        <td>
                            <div class="col-md" th:id="buttons+${room.id}" style="display: inline">
                            <button th:id="${room.id}" onclick="editRoom(this.id)" class="btn btn-secondary btn-sm"> Update </button>
                            <button th:id="${room.id}" class="btn btn-danger btn-sm" data-th-row="${room}"  data-mdb-toggle="modal"
                                   th:attr="data-mdb-target='#deleteModal'+${room.id}" >
                                Delete
                            </button>
                            </div>
                            <div class="col-md" th:id="edit+${room.id}" th:object="${room}" style="display: none">
                                <form th:id="editForm+${room.id}">
                                    <input type="hidden" id="id" name="id" th:value="${room.id}">
                                    <input type="text" id="name" name="name" th:value="${room.name}" required pattern="([A-Za-z0-9]+)([A-Za-z0-9\s]*)">
                                    <button type="submit" th:id="${room.id}" class="btn btn-primary btn-sm" onclick="saveEdit(this.id)" >Save</button>
                                    <a href="/admin/rooms/all" class="btn btn-danger btn-sm" style="text-decoration: none">Cancel</a>
                                </form>
                            </div>
<!--                            A new modal to be displayed when delete option is selected.
A unique id for each room with thymeleaf. Selecting cancel or clicking outside the modal is going to dismiss it.
On click function is taken when you click on delete which triggers ajax functionality and returns success message.
-->
                            <div th:fragment="modal" class="modal fade" th:id="deleteModal+${room.id}" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel">Delete Room</h5>
                                            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body"> Are you sure want to delete? <div style="font-weight: bold" th:text="${room.name}"></div></div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary btn-sm" style="background-color: grey" data-mdb-dismiss="modal">
                                                Cancel
                                            </button>
                                            <button type="button" th:id="${room.id}" onclick="deleteRoom(this.id)" class="btn btn-danger btn-sm" data-mdb-dismiss="modal">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <p id="result"></p>
            </div>
        </div>
        <br>
        <br>
        <br>
    </main>
</body>

</html>
