<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin - Manage Desks</title>
    <th:block th:insert="fragments/theme :: theme"/>
    <script src="/js/admin/manage_desks.js" defer></script>
</head>
<body>
    <header th:replace="fragments/header :: header"></header>
    
    <main>
        <div class="container">
            <h1>Desks</h1>
            <!-- Form selection form. -->
            <form id="form">
                <!-- Room select input. -->
                <p>
                    <label for="room">Room: </label>
                    <select id="room" name="room" required>
                        <option th:each="room : ${rooms}" th:value="${room.id}" th:text="${room.name}"></option>
                    </select>
                </p>
                <!-- Form submit button. -->
                <p>
                    <input type="submit" class="btn btn-primary" value="View Desks">
                </p>
            </form>

            <table id="desksTable" class="table align-middle">
                <!-- Table header. -->
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Desk Name</th>
                        <th scope="col">Desk Type</th>
                        <th scope="col">Notes</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <!-- Table body. -->
                <tbody>
                </tbody>
            </table>

            <!-- Pagination controls. -->
            <ul class="pagination justify-content-end" style="align-items: center;">
                <li class="page-item" id="resultsText" style="margin-right: 8px;"></li>
                <li class="page-item">
                    <button class="page-link" id="tablePreviousBtn">Previous</button>
                </li>
                <li class="page-item">
                    <button class="page-link" id="tableNextBtn">Next</button>
                </li>
            </ul>
        </div>
    </main>
</body>
</html>
